.task-search {}

.task-search .task-list {}

.task-search .task-list-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.task-search .task-list-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.task-search .task-list-item .task-title {
    margin-top: 0;
}

.task-search .task-list-item .task-info {}

.task-search .task-list-item .task-info .task-info-item {
    display: inline-block;
    margin-right: 20px;
}

.task-categories-tree {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.task-categories-tree .tree-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.task-categories-tree > .tree-item {}

.task-categories-tree label {}

.task-categories-tree input[type="checkbox"] {}

.task-categories-tree .tree-child {
    display: none;
    list-style-type: none;
    margin: 0;
}

.task-categories-tree .tree-child.active {
    display: block;
}

.task-categories-tree > .tree-item > .tree-child > .tree-item {}